<div id="navbar">
    <div class="navbar-center">
        <a id="navbarHome" class="navItem" href="/timetable/week/today">Intent</a>
    </div>
    <a href="/profile">
        <img class="nabarLogoutIcon navItem" src="../../icons/profile-navbar.png" alt="Profile Icon">
    </a>
</div>