<nav id="navbar">
    <div class="navbarGroupLeft">
        <a class="navItem" href="/weekly-tasks">Tasks</a>
    </div>
    <a id="navbarHome" class="navItem" href="/timetable">INTENT</a>
    <div class="navbarGroupRight">
        <% if (!user) { %>
            <a class="navItem" href="/login">Log in</a>
            <a class="navItem" href="/register">Register</a>
        <% } else { %>
            <a class="navItem" href="/logout">Log out</a>
        <% } %>
    </div>
</nav>