<div id="navbar">
    <div class="navbar-center">
        <a id="navbarHome" class="navItem" href="/timetable/week/today">Intent</a>
    </div>
    <a id="navbarLogout" class="navItem" href="/logout">Logout</a>
</div>