<div id="sidebar">
    <div class="sidebarGroup">
      <a class="sidebarItem" href="/timetable"><img src="/icons/timetable-icon.png" alt="Home Icon" class="sidebarIcon"> Timetable</a>
      <hr class="sideHr">
      <a class="sidebarItem" href="/weekly-tasks"><img src="/icons/list-icon.png" alt="Tasks Icon" class="sidebarIcon"> Tasks</a>
      <hr class="sideHr">
      <a class="sidebarItem" href="/timetable/new"><img src="/icons/new-lesson-icon.png" alt="New Lesson Icon" class="sidebarIcon"> New Lesson</a>
      <hr class="sideHr">
      <a class="sidebarItem" href="/weekly-tasks/new"><img src="/icons/new-task-icon.png" alt="New Task Icon" class="sidebarIcon"> New Task</a>
    </div>
    <div class="sidebarGroup">
        <a class="sidebarItem" href="/logout"><img src="/icons/logout-icon.png" alt="Log Out Icon" class="sidebarIcon"> Log out</a>
    </div>
  </div>