<% layout('layouts/boilerplate')%>
<div id="accountBodyContainer">
    <div class="accountLeftContainer">
        <div class="accountTextContainer">
            <h1 class="accountIntentWord">Intent</h1>
            <p class="accountSubtitle">Seize The Moment, Own Your Time.</p>
        </div>
    </div>
    <div class="accountRightContainer">
        <h1 class="accountTitle">Register</h1>
        <% if (registrationFailure) { %>
            <p class="alert alert-danger" role="alert">
              Username or email already exists. Please use another username or email.
            </p>
          <% } %>
        <form action="/register" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success">Register</button>
            <p class="loginSentence">Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>
</div>