@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&family=Quicksand:wght@400;700&display=swap');
/* General */
#mainBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 8vh;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

.pageTitle {
  margin-left: 2rem;
}

.newButtons:hover {
  opacity: 0.6;
}

.button {
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Index page */
.glowing-text {
  color: #f9744b;
  font-weight: 900;
}

.glowingBlock {
  background-color: #e0e0e0;
}

.timetableHeadingContainer {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.timetableTitle {
  text-align: center;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-family: 'Figtree', sans-serif;
}

.timetableOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 3rem;
}

.timetableOptionsTopRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 1rem;
}

.timetablePeriodButton {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding-left:1rem;
  padding-right: 1rem;
  cursor: pointer;
  transition-duration: 0.3s;
}

.timetablePeriodButton:hover {
  transform: scale(1.1);
  color: black;
}

.timetablePeriodButtonSelected {
  background-color: #404040;
  color: white;
}

.timetablePeriodButtonSelected:hover {
  color: white;
}

.timetableWeeklyRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timetableArrow {
  height: 1.3rem;
  width: 1.3rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

.timetableArrow:hover {
  transform: scale(1.22);
}

.timetableWeek {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}


.monthContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  padding-top: 0;
}

.monthHeader {
  font-size: 1.2rem;
  text-align: center;
}

.monthColumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 14%;
}

.monthDay {
  height: 65px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin-bottom: 3px;
  padding: 0.2rem;
  font-size: 0.8rem;
  text-align: end;
  display: flex;
  flex-direction: column;
}

.notCurrentMonthDay {
  color: #c9c9c9;
  opacity: 0.6;
  border: 1px solid rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

.monthDayTopRow {
  width: 100%;
  height: 40%;
}

.monthDayBottomRow {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: 60%;
}

.monthDayUnit {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.monthDayUnit:hover {
  transform: scale(1.2);
}

#monthlyUnitPopup {
  position: fixed;
  display: none;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  z-index: 5;
  background-color: hotpink;
  font-size: 1rem;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}





/* Landing Page */
#landingBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
}

#landingNav {
  width: 100%;
  height: 10ch;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingNavItem {
  text-decoration: none;
  color: #696969;
  transition-duration: 0.3s;
}

.landingNavItem:hover {
  transform: scale(1.1);
}

.landingNavLogin:hover {
  color: #f9744b;
}

.landingNavHome {
  font-size: 1.8rem;
  font-weight: 800;
  color: black;
}

.landingNavGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.landingRightNavGroup {
  width: 30%;
  margin-right: 15%;
}

#landingHeroContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 0.5rem;
  margin-left: 3rem;
}

.landingLeftHeroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.landingHeroImage {
  object-fit: cover;
  width: 44%;
}

.landingHeadline {
  color: black;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}

.landingSubline {
  font-size: 1.3rem;
  font-weight: 400;
  color: #696969;
  margin-bottom: 1.5rem;
}

.landingButton {
  width: fit-content;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.3rem;
  background-color: #f9744b;
  transition-duration: 0.3s;
  margin-bottom: 1rem;
}

.landingButton:hover {
  box-shadow: 0 0 15px 6px rgba(243, 156, 18, 0.7);
  background-color: #FEB615;
  transform: scale(1.03);
}

.landingButton:hover::before {
  opacity: 1;
}

.landingTickContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.tickRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #696969;
}

.landingTick {
  width: 1.3rem;
  margin-right: 1rem;
}

#landingSolutionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 5rem;                                          
}

.landingSolutionImage {
  width: 50%;
  height: auto;
  object-fit: contain;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.landingSolutionRightContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.landingSolutionTitle {
  font-size: 1.8rem;
  color: #f9744b; 
}

.landingProblemHeadline {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #7e7e7e;
}

.landingBold {
  font-weight: 800;
  font-size: 1.5rem;
  color: black
}

.landingSolutionHeadline {
  font-family: 'Figtree', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #7e7e7e;
}

#landingBenefitsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.landingBenefitsTitle {
  font-size: 2.5rem;
  color: #f9744b;
}

.landingBenefitsStepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingStepContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 5rem;
}

.landingStepImage {
  width: 35%;
  height: auto;
  object-fit: contain;
  margin-right: 3rem;
}

.landingStepRightContainer {
  width: 35%;
  margin-left: 3rem;
}

.landingStepDescription {
  font-size: 1.2rem;
}

.landingStepDescriptionExample {
  font-size: 1rem;
  color: #9e9e9e;
}

.landingBenefitsRow {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}

.landingBenefitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingBenefitIcon {
  width: 6.5rem;
}

.landingBenefitTitle {
  font-size: 2.5rem;
}

.landingBenefitSubtitle {
  color: #7e7e7e;
  padding: 2.5rem;
  padding-top: 0;
  font-size: 1.2rem;
  text-align: center;
}

.landingDirectCTAButton {
  background-color: #f9744b;
  font-size: 2.1rem;
  text-decoration: none;
  padding: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition-duration: 0.5s;
  margin-top: 4rem;
  border-radius: 10px;
}

.landingDirectCTAButton:hover {
  box-shadow: 0 0 15px 6px rgba(243, 156, 18, 0.7);
  background-color: #FEB615;
  transform: scale(1.03);
}

#landingFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  height: 30vh;
  background-color: black;
  margin: 0;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 0;
  color: white;
}

.landingFooterSocialsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

.landingFooterSocialLink {
  text-decoration: none;
  transition-duration: 0.3s;
}

.landingFooterSocialLink:hover {
  transform: scale(1.1);
}

.landingFooterSocial {
  width: 3rem;
  margin-left: 2rem;
}

/* NavBar */
#navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  z-index: 1;
  height: fit-content;
}

.navItem {
  text-decoration: none;
  color: #DCDCDC;
  transition-duration: 0.4s;
}

.navItem:hover {
  color: white;
  transform: scale(1.15);
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}

#navbarHome {
  font-size: 1.8rem;
  margin-left: auto;
  padding: 0px;
  margin-right: auto;
  font-weight: 800;
}

#navbarLogout {
  margin-right: 3rem;
}

.nabarLogoutIcon {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
  object-fit: contain;
}

/* Footer */
#footerContainer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: #303030;
  height: 5vh;
  margin-bottom: 0;
  z-index: 1;
}

.footerText {
  color: #808080;
  margin-right: 3rem;
  font-size: 0.6rem;
}

/* Index Page */
#indexPageBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 10%;
  margin-top: 5vh;
}

#timetableBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  padding-top: 0;
  padding-right: 0;
  font-family: 'Figtree', sans-serif;
  width: 76%;
  margin: 0;
}

.indexSideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  margin: 0;
  margin-top: 2rem;
}

.timetableContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 3rem;
  margin-bottom: 5rem;
  width: 100%;
}

.timingColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 7%;
}

.timingLabel {
  font-size: 0.9rem;
  margin-top: 30px;
}

.timingLabel:first-child {
  margin-top: 2rem;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.5%;
}

.dayLabel {
  font-size: 1rem;
}

.timetableBlock {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 2px;
}

.unitBlock {
  cursor: pointer;
  transition-duration: 0.3s;
  font-size: 0.7rem;
  color: white;
  padding: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  overflow: hidden;  
}

.indexNewLessonFormDropdownButton {
  background-color: #f9744b;
  padding: 0.3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  transition-duration: 0.3s;
  margin: 1rem;
  margin-top: 0;
  margin-left: 0;
}

.indexNewLessonFormDropdownButton:hover {
  box-shadow: 0 0 15px 6px rgba(243, 156, 18, 0.7);
  background-color: #FEB615;
  transform: scale(1.1);
}

.indexNewTaskFormDropdownButton {
  background-color: #696969;
  padding: 0.3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  transition-duration: 0.3s;
  margin: 1rem;
  margin-left: 0;
}

.indexNewTaskFormDropdownButton:hover {
  box-shadow: 0 0 15px 6px rgba(70, 70, 70, 0.7);
  background-color: #3d3d3d;
  transform: scale(1.1);
}

.indexNewAssignmentFormDropdownButton {
  background-color: #0275d8;
  padding: 0.3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  transition-duration: 0.3s;
  margin: 1rem;
  margin-left: 0;
}

#indexNewLessonForm {
  overflow: hidden;
  height: 0px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  transition-duration: 0.4s;
}

#indexNewTaskForm {
  overflow: hidden;
  height: 0px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  transition-duration: 0.4s;
}

#indexNewAssignmentForm {
  overflow: hidden;
  height: 0px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  transition-duration: 0.4s;
}

.indexInputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

.form-label {
  margin: 0;
  margin-right: 0.5rem;
}

.previousWeekLabel {
  margin-left: 0.5rem !important;
}

.indexTimingColumn {
  margin-right: 5px;
}

.indexTimingColumn:last-child {
  margin-right: 0;
}

#selectedRows {
  margin-top: 0.5rem;
}

.indexNewLessonTimingRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  width: 100%;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.3rem;
}

.indexNewLessonTimingDeleteButton {
  font-size: 0.7rem;
  background-color: #D11A2A;
  color: white;
  border: 0.5px solid black;
  border-radius: 3px;
}

.indexFormsBottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.indexCancelButton {
  background-color: white;
  color: #8f8f8f;
  border: 1px solid #8f8f8f;
  padding: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition-duration: 0.3s;
}

.indexCancelButton:hover {
  color: #4e4e4e;
  background-color: #c5c5c5;
}

.indexSubmitButton {
  background-color: #24a0ed;
  padding: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition-duration: 0.3s;
}

.indexSubmitButton:hover {
  background-color: #0b82cc;
}

.indexFormBorder {
  border-bottom: 1px solid black;
  width: 100%;
}

.indexListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.indexListHeader {
  font-size: 1.3rem;
}

.indexListUnit {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  color: white;
  margin-top: 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  transition-duration: 0.3s;
  cursor: pointer;
}

.indexListUnit:first-child {
  margin-top: 0;
}

.indexListUnit:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

#loadingScreenWrapper {
  position: fixed;
  z-index: 1;
  top: 10vh;
  left: 0;
  right: 26%;
  bottom: 5vh;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
  padding-right: 6.5vw;
  padding-bottom: 5vh;
}

.loading{
  height : 25px;
  width : 25px;
/*   background-color : blue; */
  border-radius : 50%;
  border : 2px solid transparent;
  border-top-color : blue;
  animation : spin infinite 1s;
}

@keyframes spin{
  from {
    transform : translate(-50%,-50%) rotate(0deg);
  }
  to{
    transform :translate(-50%,-50%) rotate(359deg);
  }
}

/* Edit container stuff: */
#indexOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; /* Ensure the overlay is above other elements */
  display: none;
}
.indexEditContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  z-index: 11;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
}

.editInputRow {
  margin-top: 0.6rem;
}

.editInputRow:first-child {
  margin-top: 0;
}

.editTimingRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.editDeleteTimingButton {
  border: 1px solid #D11A2A;
  color: #D11A2A;
  padding: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  transition-duration: 0.3s;
}

.editDeleteTimingButton:hover {
  border: 1px solid #9c0814;
  color: #9c0814;
  background-color: #c9c9c9;
}

.editNewTimingRow {
  margin-top: 1rem;
}

.indexEditButtonsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.indexEditCancelButton {
  background-color: white;
  color: #8f8f8f;
  border: 1px solid #8f8f8f;
  padding: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition-duration: 0.3s;
}

.indexEditDeleteButton {
  background-color: #D11A2A;
  padding: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition-duration: 0.3s;
}

.indexEditSubmitButton {
  background-color: #24a0ed;
  padding: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition-duration: 0.3s;
}

.indexEditCancelButton:hover {
  color: #4e4e4e;
  background-color: #c5c5c5;
}

.indexEditDeleteButton:hover {
  background-color: #9c0814;
}

.indexEditSubmitButton:hover {
  background-color: #0b82cc;
}

/* Profile page */
#profilePageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePageTitle {
  font-size: 3.4rem;
  margin-top: 3rem;
  width: 60%;
}

.changePasswordBody {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

/* Login Register Pages */
#accountBodyContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.accountLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 55%;
  height: 110vh;
  background: url("../images/accounts-background.jpeg") center center/cover;
  margin-top: -10vh;
  padding: 0%;
}

.accountTextContainer {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
  padding: 1.5rem;;
}

.accountIntentWord {
  margin-top: 30%;
  margin-left: 5%;
  font-size: 5rem;
  font-family: 'Figtree', sans-serif;
  color: white;
}

.accountSubtitle {
  margin-left: 5%;
  font-size: 1.3rem;
  color: #BEBEBE;
}

.accountRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 110vh;
  margin-top: -10vh;
  margin-left: 3rem;
  padding-bottom: 5vh;
  padding-right: 2rem;
}

.accountTitle {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.accountInputRow {
  margin-bottom: 1.4rem;
}