@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@700&display=swap');
#main-body {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    #main-body {
      flex-direction: column;
      align-items: center;
    }

    #todoList {
      width: 80% !important;
    }
}
/* General */
.newButtons:hover {
  opacity: 0.6;
}

.button {
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.deleteTimingButton {
  background-color: #ED2939;
  font-size: 0.8rem;
}

.addTimingButton {
  background-color: green;
  width: fit-content;
  align-self: center;
  margin-bottom: 4rem;
}

/* NavBar */
#navbar {
  position: sticky;
  top: 0;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem;
  font-family: 'Poppins', sans-serif;
}

.navItem {
  text-decoration: none;
  color: #DCDCDC;
  margin-left: 1rem;
  margin-right: 1rem;
  transition-duration: 0.2s;
}

.navItem:hover {
  color: white;
}

.navbarGroupLeft {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-weight: 400;
  width: 30%;
}

.navbarGroupRight {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-weight: 400;
  width: 30%;
}

#navbarHome {
  font-size: 1.4rem;
  margin-left: auto;
  padding: 0px;
  margin-right: auto;
  font-weight: 800;
}

#navbarHome:hover {
  color: white;
  transform: scale(1.1);
}

/* Edit Pages */
.editFormMainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editFormTitle {
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.editFormContainer {
  width: 60%;
  border: 1px solid rgb(126, 123, 123);
  padding: 2rem;
  border-radius: 20px;
}

#editLessonForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#editTaskForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editInputRow {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.timingContainerHeader {
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#timingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  padding: 2rem;
  width: 75%;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.timingRow {
  width: 80%;
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
}

.timingRow:not(:last-child) {
  margin-bottom: 1rem;
}

.timingInputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  margin: 0px;
}

.timingInputRow:not(:last-child) {
  margin-bottom: 0.3rem;
}

.timingInputRow .form-label {
  margin-right: 0.9rem;
}

.timingInputRow select {
  font-size: 0.8rem;
}

/* New Lesson Page */

#addLessonForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.editFormBottomButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Todo List */
/* Index: */
.todoItem:hover {
  opacity: 0.6;
}

