@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&family=Quicksand:wght@400;700&display=swap');
/* General */
#mainBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 10vh;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

.newButtons:hover {
  opacity: 0.6;
}

.button {
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.deleteTimingButton {
  background-color: #ED2939;
  font-size: 0.8rem;
}

.addTimingButton {
  background-color: green;
  width: fit-content;
  align-self: center;
  margin-bottom: 4rem;
}

.pageTitle {
  text-align: center;
  font-weight: 400;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-family: 'Figtree', sans-serif;
}

/* Landing Page */
#landingBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
}

#landingNav {
  width: 100%;
  height: 10ch;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingNavItem {
  text-decoration: none;
  color: #696969;
  transition-duration: 0.3s;
}

.landingNavItem:hover {
  transform: scale(1.1);
}

.landingNavLogin:hover {
  color: #f9744b;
}

.landingNavHome {
  font-size: 1.8rem;
  font-weight: 800;
  color: black;
}

.landingNavGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.landingRightNavGroup {
  width: 30%;
  margin-right: 15%;
}

#landingHeroContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 2rem;
  margin-left: 3rem;
}

.landingLeftHeroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.landingHeroImage {
  object-fit: cover;
  width: 44%;
}

.landingHeadline {
  color: black;
  font-size: 3.3rem;
  font-weight: 800;
  margin-bottom: 0;
}

.landingSubline {
  font-size: 1.3rem;
  font-weight: 400;
  color: #696969;
  margin-bottom: 1.5rem;
}

.landingButton {
  width: fit-content;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.3rem;
  background-color: #f9744b;
  transition-duration: 0.3s;
  margin-bottom: 1rem;
}

.landingButton:hover {
  box-shadow: 0 0 15px 6px rgba(243, 156, 18, 0.7);
  background-color: #FEB615;
  transform: scale(1.03);
}

.landingButton:hover::before {
  opacity: 1;
}

.landingTickContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.tickRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #696969;
}

.landingTick {
  width: 1.3rem;
  margin-right: 1rem;
}

#landingSolutionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 5rem;                                          
}

.landingSolutionImage {
  width: 50%;
  height: auto;
  object-fit: contain;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.landingSolutionRightContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.landingSolutionTitle {
  font-size: 1.8rem;
  color: #f9744b; 
}

.landingProblemHeadline {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #7e7e7e;
}

.landingBold {
  font-weight: 800;
  font-size: 1.5rem;
  color: black
}

.landingSolutionHeadline {
  font-family: 'Figtree', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #7e7e7e;
}

#landingBenefitsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.landingBenefitsTitle {
  font-size: 2.5rem;
  color: #f9744b;
}

.landingBenefitsStepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingStepContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 5rem;
}

.landingStepImage {
  width: 35%;
  height: auto;
  object-fit: contain;
  margin-right: 3rem;
}

.landingStepRightContainer {
  width: 35%;
  margin-left: 3rem;
}

.landingStepDescription {
  font-size: 1.2rem;
}

.landingBenefitsRow {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}

.landingBenefitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingBenefitIcon {
  width: 6.5rem;
}

.landingBenefitTitle {
  font-size: 2.5rem;
}

.landingBenefitSubtitle {
  color: #7e7e7e;
  padding: 2.5rem;
  padding-top: 0;
  font-size: 1.2rem;
  text-align: center;
}

.landingDirectCTAButton {
  background-color: #f9744b;
  font-size: 2.1rem;
  text-decoration: none;
  padding: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition-duration: 0.5s;
  margin-top: 4rem;
  border-radius: 10px;
}

.landingDirectCTAButton:hover {
  box-shadow: 0 0 15px 6px rgba(243, 156, 18, 0.7);
  background-color: #FEB615;
  transform: scale(1.03);
}

#landingFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  height: 30vh;
  background-color: black;
  margin: 0;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 0;
  color: white;
}

.landingFooterSocialsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

.landingFooterSocialLink {
  text-decoration: none;
  transition-duration: 0.3s;
}

.landingFooterSocialLink:hover {
  transform: scale(1.1);
}

.landingFooterSocial {
  width: 3rem;
  margin-left: 2rem;
}

/* NavBar */
#navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  z-index: 1;
  height: 10vh;
}

#navbarHome {
  text-decoration: none;
  color: #DCDCDC;
  font-size: 1.8rem;
  margin-left: auto;
  padding: 0px;
  margin-right: auto;
  font-weight: 800;
  transition-duration: 0.4s;
}

#navbarHome:hover {
  color: white;
  transform: scale(1.1);
}

/* Footer */
#footerContainer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: #303030;
  height: 5vh;
  margin-bottom: 0;
  z-index: 1;
}

.footerText {
  color: #808080;
  margin-right: 3rem;
  font-size: 0.6rem;
}


/* Sidebar */
#sidebar {
  position: fixed;
  background-color: #404040;
  top: 0;
  left: 0;
  width: 13vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  padding-top: calc(10vh + 1rem);
  padding-bottom: calc(5vh + 1rem);
  font-weight: 400;
}

.sidebarGroup {
  display: flex;
  flex-direction: column;
}

.sidebarItem {
  text-decoration: none;
  color: #A9A9A9;
  transition-duration: 0.3s;
  display: flex;
}

.sidebarItem:hover {
  color: white;
  transform: scale(1.1);
}

.sideHr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #101010;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.sidebarIcon {
  height: 1rem;
  align-self: center;
  margin-right: 1.2rem;
}

/* Index Page */
#timetableBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  padding-top: 1rem;
  margin-left: 13%;
  font-family: 'Quicksand', sans-serif;
}

/* timetable to blocks */
.timetableContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 4rem;
}

.timingColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 7%;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13%;
}

.timetableBlock {
  height: 70px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 2px;
}

.unitBlock {
  cursor: pointer;
  transition-duration: 0.3s;
  font-size: 0.7rem;
  color: white;
  padding: 1rem;
  padding-top: 0.5rem;
  overflow: hidden;  
}

/* Task Index Page */
#loadingScreenWrapper {
  position: fixed;
  z-index: 1;
  top: 10vh;
  left: 13vw;
  right: 0;
  bottom: 5vh;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
  padding-right: 6.5vw;
  padding-bottom: 5vh;
}

.loading{
  height : 25px;
  width : 25px;
/*   background-color : blue; */
  border-radius : 50%;
  border : 2px solid transparent;
  border-top-color : blue;
  animation : spin infinite 1s;
}

@keyframes spin{
  from {
    transform : translate(-50%,-50%) rotate(0deg);
  }
  to{
    transform :translate(-50%,-50%) rotate(359deg);
  }
}

#tasksBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  padding-top: 1rem;
  margin-left: 13%;
  font-family: 'Quicksand', sans-serif;
  width: 70%;
}

.taskIndexTitleRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 1.5rem;
}

.taskIndexButton {
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: 0.6rem;
  margin-left: 2rem;
  color: white;
  background-color: #f9744b;
  padding: 0.2rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  border-radius: 3px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.assignButton {
  background-color: #f9744b;
}

.assignButton:hover {
  color: white;
  box-shadow: 0 0 15px 6px rgba(243, 156, 18, 0.7);
  background-color: #FEB615;
  transform: scale(1.1);
}

.addTaskButton {
  background-color: #24a0ed;
}

.addTaskButton:hover {
  color: white;
  box-shadow: 0 0 15px 6px rgba(29, 172, 255, 0.7);
  background-color: #00c3ff;
  transform: scale(1.1);
}

.tasksBody {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-left: 2rem;
  margin-top: 0;
}

.task {
  width: 75%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  transition-duration: 0.3s;
}

.task:hover {
  background-color: #ebebeb;
}

.taskBottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.taskAssignText {
  opacity: 0.7;
  font-size: 0.85rem;
}

.indexDeleteTaskButton {
  background-color: #ED2939;
  font-size: 0.85rem;
  padding: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-duration: 0.2s;
  z-index = 2;
}

.indexDeleteTaskButton:hover {
  box-shadow: 0 0 3px 1px rgba(160, 3, 3, 0.7);
  background-color: #a00923;
  transform: scale(1.1);
}

/* Form Pages */
.formMainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  width: 70%;
  border: 1px solid rgb(126, 123, 123);
  padding: 2rem;
  border-radius: 20px;
  margin-left: 2rem;
  margin-top: 1rem;
}

.editFormMainBody {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  padding-top: 1rem;
  margin-left: 13%;
  font-family: 'Quicksand', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editInputRow {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.timingContainerHeader {
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#timingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  padding: 2rem;
  width: 75%;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.timingRow {
  width: 80%;
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
}

.timingRow:not(:last-child) {
  margin-bottom: 1rem;
}

.timingInputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  margin: 0px;
}

.timingInputRow:not(:last-child) {
  margin-bottom: 0.3rem;
}

.timingInputRow .form-label {
  margin-right: 0.9rem;
}

.timingInputRow select {
  font-size: 0.8rem;
}

.editFormBottomButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#deleteLessonButton {
  background-color: #ED2939;
}

#deleteTaskButton {
  background-color: #ED2939;
}

/* New Task Page */
#newTaskBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  padding-top: 1rem;
  margin-left: 13%;
  font-family: 'Quicksand', sans-serif;
}

/* New Lesson Page */
#newLessonBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  padding-top: 1rem;
  margin-left: 13%;
  font-family: 'Quicksand', sans-serif;
}

#addLessonForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Login Register Pages */
#accountBodyContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.accountLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 55%;
  height: 110vh;
  background: url("../images/accounts-background.jpeg") center center/cover;
  margin-top: -10vh;
  padding: 0%;
}

.accountTextContainer {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
  padding: 1.5rem;;
}

.accountIntentWord {
  margin-top: 30%;
  margin-left: 5%;
  font-size: 5rem;
  font-family: 'Figtree', sans-serif;
  color: white;
}

.accountSubtitle {
  margin-left: 5%;
  font-size: 1.3rem;
  color: #BEBEBE;
}

.accountRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 110vh;
  margin-top: -10vh;
  margin-left: 3rem;
  padding-bottom: 5vh;
  padding-right: 2rem;
}

.accountTitle {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.accountInputRow {
  margin-bottom: 1.4rem;
}