#main-body {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    #main-body {
      flex-direction: column;
      align-items: center;
    }

    #todoList {
      width: 80% !important;
    }
}

.todoItem:hover {
  opacity: 0.8;
  border: 1px solid black;
  transform: scale(1.02);
}

.newButtons:hover {
  border: 1px solid black;
  transform: scale(1.10);
}