<% layout('layouts/boilerplate')%>
<div class="rows">
    <h1 class="text-center mt-5">New Lesson</h1>
    <div class="col-6 offset-3">
        <form action="/timetable" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="lesson[title]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="day">Day</label>
                <input class="form-control" type="text" id="day" name="lesson[day]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3" style="display: flex; flex-direction: row; justify-content: space-between;">
                <label class="form-label px-4" for="timing">Timing Start</label>
                <input class="form-control" type="text" id="timingStart" name="lesson[timingStart]" required>
                <div class="valid-feedback">Looks good!</div>
                <label class="form-label px-4" for="timing">Timing End</label>
                <input class="form-control" type="text" id="timingEnd" name="lesson[timingEnd]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-4">
                <label class="form-label" for="colour">Colour</label>
                <input class="form-control" type="text" id="colour" name="lesson[colour]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <button class="btn btn-success">Add Lesson</button>
                <a class="btn btn-danger" href="/timetable">Back</a>
            </div>
        </form>
    </div>
</div>
