<% layout('layouts/boilerplate')%>
<form action="/transactions/<%= transaction._id %>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="transaction[title]" value="<%= transaction.title %>">
    </div>
    <div>
        <label for="date">Date</label>
        <input type="text" id="date" name="transaction[date]" value="<%= transaction.date %>">
    </div>
    <button>Edit Transaction</button>
</form>
<a href="/transactions/<%= transaction._id%>">Back to Transaction</a>
