<% layout('layouts/boilerplate')%>
<h1>ALL TRANSACTIONS</h1>
<a href="/transactions/new">New Transaction</a>
<ul>
    <% for (let transaction of transactions) {%>
    <li><a href="transactions/<%= transaction._id %>"><%= transaction.title%></a></li>
    <%}%>
</ul>
