<% layout('layouts/boilerplate')%>
<form action="/transactions" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="transaction[title]">
    </div>
    <div>
        <label for="date">Date</label>
        <input type="text" id="date" name="transaction[date]">
    </div>
    <button>Add Transaction</button>
</form>
<a href="/transactions">Back</a>